<!DOCTYPE html><html lang="zh-CN">
<head>
  <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">
  <title>{{ title }}</title>
  <link rel="icon" href="https://thisoe.dev/ico.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='globals.js') }}"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <h1>{{ title }} 测试页面</h1>
  <main>
    <div id="p1">{% block p1 %}{% endblock %}</div>
    <div id="p2">{% block p2 %}{% endblock %}</div>
  </main>
</body>
</html>