<!DOCTYPE html><html lang="zh-CN">
<head>
  <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">
  <title>{{ title }}</title>
  <link rel="icon" href="https://thisoe.dev/ico.ico">
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='globals.js') }}?LTR=1"></script>
  {% block head %}{% endblock %}
  <style> /* urls CSS */
    .media-wrap>i{
      background-image:url("{{ url_for('static', filename='img/_.png') }}");
    }
  </style>
</head>
<body>
  <h1>{{ title }} <span id="flip-page"></span></h1>
  <main>
    <i id="loading">
      <p>前端正在载入……</p>
      <p>若长时间无响应，请确认浏览器是否支持JavaScript。推荐使用Chrome或Edge打开。</p>
    </i>
    <div id="p0">{% block test %}{% endblock %}</div>
    <div id="p1">{% block p1 %}{% endblock %}</div>
    <div id="p2">{% block p2 %}{% endblock %}</div>
  </main>
</body>
</html>