{% extends 'base.html' %}
{% block test %}

<pre>{{ bash_log }}</pre>
<p class="testcolor">测试 CSS</p>
<button id="testjs">测试 JS</button>

{% endblock %}



{% block p1 %}

<aside>
  {% for j in mat_list %}
    <i>
      <img src="{{ url_for('static', filename='img/ico_mat.png') }}"></img>
      {{ j }}
    </i>
  {% endfor %}
</aside>
<i class="p1-main">
  <i class="media-wrap">
    <i id="media-original"><i>原始影像</i></i>
    <i id="media-predict"><i>预测结果</i></i>
  </i>
  <i class="foot">
    <i class="form">
      <i class="select-wrap">
        <select name="model">
          <option value="1">模型甲</option>
          <option value="2">模型乙</option>
          <option value="3">模型丙</option>
          <option value="4">模型丁</option>
        </select>
      </i>
      <i class="s1-wrap"><button id="submit1">执行</button></i>
    </i>
<i class="pre1-wrap"><pre id="pre1">
bash
</pre></i>
  </i>
</i>

{% endblock %}



{% block p2 %}

<i><pre id="pre2">
<span>> </span>BASH LOG
{{ pre2 }}
</pre></i>

{% endblock %}