{% extends 'base.html' %}
{% block test %}

<pre>{{ bash_log }}</pre>
<p class="testcolor">测试 CSS</p>
<button id="testjs">测试 JS</button>

{% endblock %}



{% block p1 %}

<aside></aside>
<i class="p1-main">
  <i class="media-wrap">
    <i id="media-ori"><i>原始影像</i></i>
    <i id="media-pre"><i>预测结果</i></i>
  </i>
  <i class="foot">
    <i class="form">
      <i class="select-wrap">
        <select name="model">
          <option value="m0">选择模型...</option>
          <option value="model_mae-30.82_epoch-77.pth">mae-30.82 epoch-77</option>
          <option value="model_mae-110.47_epoch-62.pth">mae-110.47 epoch-62</option>
        </select>
      </i>
      <button id="submit1" disabled>执行</button>
    </i>
<i class="pre1-wrap"><pre id="pre1">
> bash
</pre></i>
  </i>
</i>

{% endblock %}



{% block p2 %}

<i id="fake-cmd">
  <i id="fc-head">
    <i><i style="background:transparent;font-family:serif;font-weight:bold;white-space:nowrap;">Shell - train</i></i>
    <i>
      <i></i>
      <i></i>
      <i></i>
    </i>
  </i>
  <i class="pre2">
    <pre id="pre2">{{ pre2 }}</pre>
  </i>
</i>

{% endblock %}