:root{
  
}

/* reset */
*{margin:0}
html,body{height:100%;padding:0;font-family:sans-serif}
i,hr{all:unset;display:block}
div{display:none}
button{
  padding:3pt 9pt;
  cursor:pointer;
}

::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-track{background-color:#ccc}
::-webkit-scrollbar-thumb{
  background-color:#178577;
  border-radius:9pt;
  transition:.2s ease;
}
::-webkit-scrollbar-thumb:hover{background-color:#399}



/***** base *****/
h1{
  font-size:21pt;
  line-height:63pt; /* DO NOT CHANGE */
  padding:0;border:0;outline:0;
  text-align:center;
}
#flip-page{
  all:unset;
  position:fixed;
  top:3pt; left:9pt;
  padding:3pt;
  color:blue;
  cursor: pointer;
}#flip-page:hover{text-decoration:underline}

main{height:calc(100% - 63pt)}
#loading{
  margin-top:30vh;
  text-align:center;
}#loading p:nth-of-type(1){font-size:18pt}

/* test */
#p0{flex-direction:column}
#p0 *{margin:auto}
#p0 pre,#bash-log,#footbash{
  width:80vw; height:36vh;
  padding:9pt;
  background:#000;color:#ccc;
  overflow:auto;
}
#p0 .testcolor{min-width:36vw;text-align:center;color:deeppink;background:linear-gradient(in hsl longer hue 120deg,red 0 0);margin:9pt auto;line-height:3;border-radius:99pt}



/***** p1 *****/
#p1{
  width:100%; height:100%;
  flex-direction:row;
}

aside{
  display:flex;flex-direction:column;
  flex:1;
  padding:9pt;
  min-width:99pt;
  border:gray outset medium;
  user-select:none;
}
aside>i{
  width:calc(100% - 12pt);
  padding:6pt;
  color:navy; font-size:12pt;
  line-height:1;
  border:transparent inset 3px;
}aside>i:hover{border-color:aqua;background:#eff;}
aside img{height:12pt}

.p1-main{
  flex:5;
  display:flex;flex-direction:column;
}

.media-wrap{
  display:flex;flex-direction:row;
  width:100%; height:50%;
}
.media-wrap>i{
  flex:1;
  margin:3pt; border:gray solid 3px;
  /* TODO do delete */
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}
.media-wrap>i>i{
  margin:0 9px;
  font-size:18pt;
  color:#000; font-weight:bold;
  -webkit-text-stroke: 1px #fff;
  user-select:none;
}




#footbash{
  vertical-align:bottom;
}



/***** p2 *****/
#p2{flex-direction:row;height:100%}
#p2>i{
  display:flex; flex-direction:column;
  flex:1;
  overflow:hidden;
}

#p2 pre{font-family:consolas}

.code{
  display:flex;
  min-height:80%;
  padding:0 9pt;
  overflow:auto;
  flex:9;
}
.code>*{margin:0 3pt;}
.code>hr{
  min-width:1pt;
  height:auto;
  border-radius:9pt;
  background:#777;
}
.code pre{
  font-size:12pt;
  color:green;
}
.code #pre-lines{color:#777}
.c-0{color:#000}
.c-v{color:blueviolet}

.run-wrap{display:flex;flex:3}
#run{
  margin:auto;
  font-size:27pt;
  padding:12pt 27pt;
}

#bash-log{
  width:100%;height:100%;
  font-size:18pt;font-weight:bold;
}
#bash-log span{color:aqua}