:root{
  
}

/* reset */
*{margin:0}
html,body{height:100%;padding:0;font-family:sans-serif}
i,aside{all:unset;display:flex}
div{display:none}
button{
  padding:3pt 9pt;
  cursor:pointer;
}button[disabled]{cursor:auto}

::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-track{background-color:#ccc}
::-webkit-scrollbar-thumb{
  background-color:#178577;
  transition:.2s ease;
}
::-webkit-scrollbar-thumb:hover{background-color:#399}



/***** base *****/
h1{
  font-size:27pt;
  line-height:63pt; /* DO NOT CHANGE */
  padding:0;border:0;outline:0;
  text-align:center;
  user-select:none;
}
h1 span{cursor:pointer}
h1 span:hover{color:#178577}

main{height:calc(100% - 63pt)}
#loading{
  margin-top:30vh;
  text-align:center;
}#loading p:nth-of-type(1){font-size:18pt}
#github{
  position:fixed; bottom:9pt;right:9px;
  width:21pt;height:21pt;
  cursor:pointer;
  display:block; background-repeat:no-repeat;background-size:100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23555' d='M12.001 2c-5.525 0-10 4.475-10 10a9.994 9.994 0 0 0 6.837 9.488c.5.087.688-.213.688-.476c0-.237-.013-1.024-.013-1.862c-2.512.463-3.162-.612-3.362-1.175c-.113-.288-.6-1.175-1.025-1.413c-.35-.187-.85-.65-.013-.662c.788-.013 1.35.725 1.538 1.025c.9 1.512 2.337 1.087 2.912.825c.088-.65.35-1.087.638-1.337c-2.225-.25-4.55-1.113-4.55-4.938c0-1.088.387-1.987 1.025-2.687c-.1-.25-.45-1.275.1-2.65c0 0 .837-.263 2.75 1.024a9.28 9.28 0 0 1 2.5-.337c.85 0 1.7.112 2.5.337c1.913-1.3 2.75-1.024 2.75-1.024c.55 1.375.2 2.4.1 2.65c.637.7 1.025 1.587 1.025 2.687c0 3.838-2.337 4.688-4.562 4.938c.362.312.675.912.675 1.85c0 1.337-.013 2.412-.013 2.75c0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10'/%3E%3C/svg%3E")
}

/* test */
#p0{flex-direction:column}
#p0 *{margin:auto}
#p0 pre,#pre2,#pre1{
  width:80vw; height:36vh;
  padding:9pt; padding-bottom:39pt;
  background:#000;color:#ccc;
  overflow:auto;
  text-wrap:wrap;
}
#p0 .testcolor{min-width:36vw;text-align:center;color:deeppink;background:linear-gradient(in hsl longer hue 120deg,red 0 0);margin:9pt auto;line-height:3;border-radius:99pt}



/***** p1 *****/
#p1{
  width:100%; height:100%;
  flex-direction:row;
}

aside{
  flex-direction:column;
  flex:1;
  padding:9pt;
  min-width:99pt;
  border:gray outset medium;
  user-select:none;
}
aside>i{
  width:calc(100% - 12pt);
  padding:6pt;
  color:navy; font-size:12pt; line-height:1;
  border:transparent inset 3px;
  cursor:pointer;
}aside>i:hover{border-color:aqua;background:#eff;}
aside img{height:12pt}

.p1-main{
  flex:5;
  flex-direction:column;
}

.media-wrap{
  flex-direction:row;
  width:100%; height:57%;
}
.media-wrap>i{
  flex:1;
  border:gray solid 3px; border-left:0;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}
.media-wrap>i>i{
  margin:0 9px;
  font-size:18pt;font-weight:bold; color:#000;
  -webkit-text-stroke: 1px #fff;
  user-select:none;
}

.foot{flex-direction:column}
.form{padding:3pt}
select,#submit1{font-size:16pt}

#pre1{
  border:1pt solid #333;
  vertical-align:bottom;
}



/***** p2 *****/
#p2{height:100%}

#fake-cmd{
  flex-direction:column;
  margin:3vh 6vw 9vh;
  border-radius:7pt; overflow:hidden;
}
#fc-head{
  user-select:none;
  justify-content:space-between;
  background:#aaa;
  width:100%;
  min-height:27pt;
}#fc-head>i{margin:0 9pt;align-items:center}
#fc-head>i>i{
  margin:0 3px;
  width:12pt;height:12pt;
  border-radius:99px;
  background:#178577;
}

.pre2{height:calc(100% - 27pt)}
#pre2{
  width:auto;height:auto;
  font-family:consolas;
  font-size:18pt;
}